---
---

@import "{{ site.theme }}";

$body-text-color: #ffffff;
$section-headings-color: #ffffff;

.page-header-wrapper {
  background-color: #04040A;   /* full-width background color */
  width: 100%;
}

.page-header {
  background-color: #04040A;
  background-image: url('/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 100%;        /* fill screen on mobile */
  max-width: 704px;   /* limit width on desktop */
  height: 227px;
  
  margin: 0 auto;     /* center the header on large screens */
}

html {
  background-color: #04040A;
  color: #ffffff;
}

body {
  background-color: #04040A;
  color: #ffffff;
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $section-headings-color;
  }
}

