---
---

@import "{{ site.theme }}";

.page-header-wrapper {
  background-color: #04040A;   /* full-width background color */
  width: 100%;
}

.page-header {
  background-color: #04040A;
  background-image: url('/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 100%;        /* fill screen on mobile */
  max-width: 704px;   /* limit width on desktop */
  height: 267px;
  
  margin: 0 auto;     /* center the header on large screens */
}

.main-content {
  background-color: #04040A;
  color: #ffffff;      /* makes all text inside white */
}
