---
---

@import "{{ site.theme }}";

.page-header-wrapper {
  background-color: #04040A;   /* full-width background color */
  width: 100%;
}

.page-header {
  background-color: #04040A;
  background-image: url('/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 100%;        /* fill screen on mobile */
  max-width: 597px;   /* limit width on desktop */
  
  margin: 0 auto;     /* center the header on large screens */
}
