<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <!-- Open Graph -->
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:image" content="{{ page.image | default: '/site_logo.jpg' | absolute_url }}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title | default: site.title }}">
    <meta name="twitter:description" content="{{ page.description | default: site.description }}">
    <meta name="twitter:image" content="{{ page.image | default: '/site_logo.jpg' | absolute_url }}">

    <link rel="icon" type="image/png" href="./favicon.png">
    <link rel="stylesheet" href="{{ '/assets/css/style.scss' | relative_url }}">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#04040A">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <div class="page-header-wrapper">
      <a href="./">
        <header class="page-header" role="banner"></header>
      </a>
    </div>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
